body{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

input {
	outline-color: #FECE45;
}
button,
.button{
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	border: none;
	background: #f8ba00;
	color: #FFF;
	margin: 20px auto 0;
	padding: 10px 30px;
	font-weight: 700;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
	outline-color: #FFF;

	&:hover {
		background: #fece45;
	}
}
.rpk-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 10px 0;
	background: rgba(0, 0, 0, 1);

	&__button {
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		background: #fece45;
		padding-right: 20px;
		text-align: center;
		cursor: pointer;
		border: none;
		transition: background .5s ease;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		margin-top: 0;
		&:hover {
			background: #fece45;

		}
	}
}

.rpk-logo {
	font-weight: 800;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	text-decoration: none;
	display: inline-block;

	img {
		max-height: 45px;
	}
}

.rpk-menu {
	margin: 0;
	text-align: center;

	&__item {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		font-size: 18px;
		line-height: 26px;
		padding: 0 10px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;

		&_submenu {
			position: relative;
			&:hover {
				.rpk-submenu {
					opacity: 1;
					transform: translateY(0);
					transition: transform 0s ease,
					opacity .3s ease;
					transition-delay: .3s;
				}
			}
		}
	}

	&__link {
		display: inline-block;
		color: #fff;
		font-size: 18px;
		line-height: 26px;
		text-decoration: none;
		font-weight: 700;
		position: relative;
		padding: 10px 0;

		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background: #fece45;
			transition: width .5s ease,
			color .5s ease;
		}

		&:hover {
			color: #fece45;
			&:after {
				width: 100%;
			}
		}
	}
}
.rpk-submenu {
	opacity: 0;
	transform: translateY(-150%);
	position: absolute;
	top: 0;
	left: 0;
	min-width: 290px;
	width: 100%;
	text-align: left;
	list-style: none;
	padding-left: 0;
	padding-top: 38px;
	transition: transform 0s ease .3s,
	opacity .3s ease 0s;


	&__item {
		text-decoration: none;
		background: rgba(0, 0,0, .7);
		padding-left: 10px;
		padding-top: 10px;

		&:last-child {
			padding-bottom: 10px;
		}

		&:first-child {
			padding-top: 0;
		}
	}

	&__link {
		color: #fff;
		text-decoration: none;
		position: relative;

		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background: #fece45;
			transition: width .5s ease;
		}

		&:hover {
			color: #fece45;
			&:after {
				width: 100%;
			}
		}
	}
}

.rpk-poster {

	&__item {
		padding-top: 60px;

		.rpk-container {
			height: 100%;
			display: flex;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			-webkit-align-items: center;
			align-items: center;
		}
	}

	&__text-right {
		max-width: 50%;
	}

	&__main-text {
		padding: 20px;
		background: rgba(255, 255,255, .7);
	}

	&__button {
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		border: none;
		background: #fece45;
		color: #FFF;
		margin: 20px auto 0;
		padding: 10px 30px;
		font-weight: 700;
		cursor: pointer;
		transition: background .5s ease;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		&:hover {
			background: #fece45	;
		}
	}

	&__form-outer {
		background: rgba(0, 0, 0, .7);
		color: #FFF;
		margin-top: 20px;
		padding: 20px;
	}

	&__form-text {
		text-align: center;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	&__form {
		font-size: 0;
		line-height: 0;
		letter-spacing: 0;
		text-align: center;
		input {
			border: none;
			background: #FFF;
			color: #000;
			display: inline-block;
			width: calc(50% - 10px);
			vertical-align: top;
			font-size: 16px;
			line-height: 1;
			margin: 0 5px;
			padding: 5px;
			text-align: left;
		}
	}
}

.h2-section {
	padding-left: 85px;
	position: relative;
	font-size: 30px;
	line-height: 32px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		left: 0;
		top: 5px;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		height: 65px;
		background: #000;
		left: 65px;
		top: 0;
	}
}
.p-section {
	font-style: normal;
	font-size: 25px;
	line-height: 27px;
	padding-left: 85px;
	margin: 5px 0 25px;
	text-align: left;
}

.rpk-design {
	min-height: 100vh;
	background: url(../img/4.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;

	&__inner-top {
		background: rgba(255, 255,255, .7);
		padding: 20px;
	}
	&__inner-bottom {
		background: rgba(255, 255,255, .7);
		padding: 20px;
		margin-top: 50px;
		text-align: center;
	}
	&__h2 {
		text-transform: uppercase;

		&:before {
			background: url(../img/design-project_crop.png) no-repeat center center;
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
		}
	}

	&__h3 {
		text-align: left;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: #000;
			height: 1px;
			width: 70px;
			bottom: -10px;
			left: 0;
		}
	}

	&__text {
		text-align: left;
	}


	&__item {
		position: relative;
		font-size: 18px;
		line-height: 1;
		padding-left: 45px;
		margin-bottom: 20px;


		&:before, &:after{
			content: "";
			position: absolute;
			display: block;
		}

		&:before {
			width: 20px;
			height: 20px;
			left: 13px;
			top: 0;
			border: 1px solid #000;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		&:after {
			width: 8px;
			height: 12px;
			border-left: 1px solid #000;
			border-top: 1px solid #000;
			transform: rotate(-136deg);
			left: 19px;
			top: 2px;

		}
	}
}

.rpk-assembling {
	background: url(../img/5.png) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 70px 0 90px;


	&__inner {
		background: rgba(0, 0,0, .7);
		padding: 20px;
	}

	&__h2 {
		text-transform: uppercase;
		color: #FFF;
		margin-bottom: 30px;

		&:before {
			background: url(../img/title-installation.png) no-repeat center center;
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
			top: auto;
			bottom: 7px;
		}
		&:after {
			top: auto;
			bottom: 0;
			background: #FFF;
		}
	}

	&__p {
		margin-bottom: 5px;
		color: #FFF;
	}

	.rpk-width-1-3 {
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6){
			.item{
				&__content {
					top: 287px;
				}
			}

		}
	}

	.item {
		color: #FFF;
		margin-bottom: 50px;

		&:hover {

			.item__title{

				&:after {
					opacity: 1;
					transition: opacity .3s ease;

				}
			}

			.item__content {
				transform: translateX(0);
				opacity: 1;
				transition: transform 0s ease 0s, opacity .3s ease 0s;

			}
		}




		&__title {
			border-bottom: 1px solid #fff;
			padding: 30px 0;
			margin-bottom: 20px;
			position: relative;
			cursor: default;
			span {
				padding: 10px 15px;
				font-weight: 800;
				line-height: 1;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				border: 1px solid #fff;
				margin-right: 15px;
			}

			&:after{
				content: "";
				position: absolute;
				display: block;
				opacity: 0;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 15px solid  rgba(255,255,255,.7);
				top: 60px;
				left: 125px;
				transition: opacity .2s ease;
			}

		}

		&__img {
			max-height: 60px;
		}

		&__content {
			background: rgba(255,255,255,.85);
			padding: 10px;
			position: absolute;
			top: 75px;
			width: 100%;
			left: 10px;
			right: 0;
			text-align: center;
			z-index: 2;
			transform: translateX(-150%);
			opacity: 0;
			transition: opacity .3s ease 0s,
			transform 0s ease .2s;
		}


		&__content-img {
			margin: auto;
			max-height: 370px;
			width: auto;
		}
	}

	&__button {
		margin: 120px auto 0;
		display: block;
	}
}

.slick-slide {
	height: 100vh;

}

.rpk-steps {
	background: url(../img/6.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 60px 0;
	min-height: 100vh;
	position: relative;


	.top {
		background: rgba(0,0,0,.7);
		color: #fff;
		padding: 20px;
		&__h2{
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
		}

		&__button {
			margin: auto;
			display: block;
			margin-top: 30px;
		}

		&__hidden {
			position: fixed;
			z-index: 99;
			background: rgba(255, 255, 255, 1);
			color: #000;
			padding: 70px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			display: none;
		}
	}

}

.rpk-callback {
	background: url(../img/7.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	&__container {

		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__content {
		max-width: 50%;
		background: rgba(255,255,255,.85);
		padding: 20px 30px;
	}

	&__text {
		line-height: 22px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	input {
		margin: 0;
		display: block;
		width: 100%;
		border: 1px solid #000;
		margin-bottom: 10px;
	}

	button {
		display: block;
		width: 100%;
	}
}


.rpk-cost {
	background: url(../img/8.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	min-height: 100vh;
	color: #FFF;

	&__inner {
		background: rgba(0, 0,0, .7);
		width: 100%;
		padding: 40px;
	}

	&__h2 {
		&:before {
			background: url(../img/title-works.png) no-repeat center center;
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
		}
		&:after {
			background-color: #FFF;
		}
	}

	&__info-bottom {
		text-align: center;
		font-size: 18px;
		line-height: 26px;
		padding-top: 125px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 70px;
			height: 70px;
			background: url(../img/icon-free.png) no-repeat center center;
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
			top: 20px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			background: #FECE45;
			left: 0;
			bottom: 65px;
		}
		span {
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	&__form-title {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 15px;
		text-align: center;
		font-weight: 700;
	}

	&__form-outer {
		background: url(../img/laptop3.png) no-repeat center center;
		-webkit-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		width: 100%;
		height: 100%;
		padding: 80px 160px 100px;


	}

	form {
		input {
			width: 100%;
			background: transparent;
			margin: 0;
			margin-bottom: 10px;
			color: #FFF;
			border-bottom: 1px solid #FECE45;

			&::placeholder {
				color: #FFF;
			}

			&:-ms-input-placeholder {
				color: #FFF;
			}

			&::-ms-input-placeholder {
				color: #FFF;
			}
		}
	}
}


.rpk-advantages {
	background: url(../img/9.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	// display: flex;
	// -webkit-justify-content: center;
	// justify-content: center;
	// -webkit-align-items: center;
	// align-items: center;
	min-height: 100vh;
	padding: 70px 0;
	color: #FFF;
	text-align: center;

	&__inner {
		background: rgba(0, 0,0, .7);
		// width: 100%;
		padding: 20px 40px;

		&_top {
			margin-bottom: 40px;
		}
	}

	&__h2 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 40px;
	}

	&__h3 {
		position: relative;
		padding: 65px 0 15px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			background: url(../img/icon-regulations.png) no-repeat center center;
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50px;
			height: 50px;
		}
	}

	&__num {
		padding: 10px 15px;
		border: 1px solid #fff;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 20px;
	}

	&__text {
		border-right: 1px solid #fff;
		min-height: 60px;
		padding: 0 20px;
	}

	.rpk-width-1-6:last-child,
	.rpk-width-1-3:last-child {
		.rpk-advantages__text {
			border-right: none;
		}
	}

	&__form-outer{
		background: rgba(255,255,255, .5);
		border: 4px dashed #FECE45;
	}
	&__form-title {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 15px;
		text-align: center;
		font-weight: 700;
		color: #000;
		padding-top: 40px;

	}

	&__form {
		padding: 0 50px 45px;
		input{
			width: 100%;
			background: transparent;
			border: none;
			border-bottom: 1px solid #000;
			color: #000;
			margin-bottom: 15px;
		}
	}
}



.rpk-arrow-top {
	opacity: 0;
	width: 40px;
	height: 40px;
	background: url(../img/uparrow6_78510.png) no-repeat center center;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: fixed;
	bottom: 25px;
	left: 25px;
	transition: opacity .5s ease,
	transform .5s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.2);
	}

	&_show {
		opacity: 1;
	}
}
